nav {
    background-color: rgba(36, 35, 35, 0.473);
}
.navbar {
    text-decoration: none;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.navbar a {
    color: floralwhite;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li .active a {
    margin: 0 25px;
}
